@{
    ViewData["Title"] = "Art Paradise";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-3">To the</h2>
    <h2 class="display-1">Paradise of Art</h2>
</div>
